* {
  padding: 0;
  margin: 0;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.board {
  display: flex;
  width: calc(64px * 8);
  height: calc(64px * 8);
  flex-wrap: wrap;
  flex-direction: row;
}

.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell img {
  width: 64px;
  height: 64px;
  position: relative;
}

.black {
  outline: black 3px solid;
  background-color: #08274a;
}

.white {
  outline: black 3px solid;
  background-color: #e1e65e;
}

.selected {
  background-color: rgba(236, 44, 44, 50);
}

.available {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
}

.enemy {
  background: darkgreen;
}

.player {
  display: flex;
  justify-content: center;
  padding: 3px;
  outline: 3px solid black;
  background-color: lightblue;
  margin-bottom: 10px;
  margin-top: 2px;
}