* {
  padding: 0;
  margin: 0;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.board {
  display: flex;
  width: calc(64px * 8);
  height: calc(64px * 8);
  flex-wrap: wrap;
  flex-direction: row;
}

.cell {
  width: 64px;
  height: 64px;
}

.black {

  outline: black 3px solid;
  background-color: #08274a;
}

.white {

  outline: black 3px solid;
  background-color: #e1e65e;
}